<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Login</div>
      <div class="item item-body">
        <div class="list">
            <label class="item item-input">
              <input type="text" name="input" ng-model="first_name" placeholder="First Name">
            </label>  
            <label class="item item-input">
              <input type="text" name="input" ng-model="last_name" placeholder="Last Name">
            </label>
            <label class="item item-input">
              <input type="text" name="input" ng-model="email" placeholder="Email">
            </label>
        </div>  
      </div>
    </div>
    
    <button on-tap="onTap()" class="button">Submit</button>
  </ion-content>
</ion-view>
